* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Poppins;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divisor {
  width: 100%;
  margin: 16px;
}

.product-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
  margin: 25px 0
}

.product-item img {
  width: 150px;
  height: 150px;
  border: 2px solid #c4c4c4;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 18px;
  line-height: 2;
}

.product-description p {
  color: #a0a0a0;
}

.price {
  width: 80%;
  text-align: center;
}

.price div{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.shipping {
  background: #9de46c;
  color: #5c8441;
  padding: 10px 12px;
  border-radius: 75px;

  margin: 25px auto;
}

.footer {
  border-top: 1px solid #bbb;
  margin: 12px;
  padding: 5px;
}

.finish-button {
  background: #3f67e9;
  color: #fff;
  padding: 15px;
  width: 300px;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media(max-width: 427px) {
  .product-item {
    width: 100%;
    margin: 25px 0 25px 35px;
  }
}